[submodule "packer.nvim"]
	path = files/.local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "files/.config/shells/zsh/plugins/syntax"]
	path = files/.config/shells/zsh/plugins/syntax
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "files/.config/shells/zsh/plugins/autosuggestions"]
	path = files/.config/shells/zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "files/.config/shells/zsh/plugins/substring"]
	path = files/.config/shells/zsh/plugins/substring
	url = https://github.com/zsh-users/zsh-history-substring-search.git
